{% extends "base.html" %}
{% block content %}
  <h1>Tag List <a href="{% url 'manager:tag-create' %}" class="btn btn-primary">+</a></h1>
  {% if tags %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for tag in tags %}
      <tr>
        <td>{{ tag.name }}</td>
        <td><a href="{% url 'manager:tag-update' tag.id %}" class="btn btn-secondary">Update</a></td>
        <td><a href="{% url 'manager:tag-delete' tag.id %}" class="btn btn-danger">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>There are no tags</p>
  {% endif %}
{% endblock %}
