{% extends "base.html" %}

{% block content %}
  <h1>Worker Details</h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <td>{{ worker.id }}</td>
    </tr>
    <tr>
      <th>Username</th>
      <td>{{ worker.username }}</td>
    </tr>
    <tr>
      <th>First Name</th>
      <td>{{ worker.first_name }}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{ worker.last_name }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ worker.email }}</td>
    </tr>
    <tr>
      <th>Position</th>
      <td>{{ worker.position.name }}</td>
    </tr>
    <tr>
      <th>Tasks</th>
      <td>
        <ul>
          {% for task in worker.tasks.all %}
            <li>{{ task.name }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
  <div class="row">
    <div class="col-md-6">
      <h3>Completed Tasks</h3>
      {% if completed_tasks %}
        <ul>
          {% for task in completed_tasks %}
            <li>{{ task.name }} ({{ task.deadline }})</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No completed tasks</p>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h3>Not Completed Tasks</h3>
      {% if not_completed_tasks %}
        <ul>
          {% for task in not_completed_tasks %}
            <li>{{ task.name }} ({{ task.deadline }})</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No tasks in progress</p>
      {% endif %}
    </div>
  </div>
  <div class="mt-4">
    <a href="{% url 'manager:worker-list' %}" class="btn btn-primary"><i class="fas fa-arrow-left"></i></a>
    <a href="{% url 'manager:worker-update' worker.id %}" class="btn btn-secondary">Update</a>
    <a href="{% url 'manager:worker-delete' worker.id %}" class="btn btn-danger">Delete</a>
  </div>
{% endblock %}
