{% extends "base.html" %}

{% block content %}
  <h1>Worker Details</h1>
  <table class="table">
    <tr>
      <th>ID</th>
      <td>{{ worker.id }}</td>
    </tr>
    <tr>
      <th>Username</th>
      <td>{{ worker.username }}</td>
    </tr>
    <tr>
      <th>First Name</th>
      <td>{{ worker.first_name }}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{ worker.last_name }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ worker.email }}</td>
    </tr>
    <tr>
      <th>Position</th>
      <td>{{ worker.position.name }}</td>
    </tr>
    <tr>
      <th>Tasks</th>
      <td>
        <ul>
          {% for task in worker.tasks.all %}
            <li>{{ task.name }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
  <a href="{% url 'manager:worker-list' %}" class="btn btn-primary">Back to Worker List</a>
{% endblock %}
