.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar-menu li {
    padding: 8px 0;
}
.sidebar-menu li a {
    text-decoration: none;
    color: #333;
}
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer .text-muted {
  color: #6c757d !important;
}
